# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
.vs/mobile.slnx/FileContentIndex/357e3116-7f75-4314-8c80-3605a8a654bf.vsidx
.vs/mobile.slnx/FileContentIndex/43ec41f0-6e76-4211-a499-cac4b271358c.vsidx
.vs/mobile.slnx/FileContentIndex/62525434-1a71-41fc-8926-104c17493c3d.vsidx
.vs/mobile.slnx/FileContentIndex/28b77e57-7f76-4eea-ba0a-d5e35eb3dcf6.vsidx
.vs/mobile.slnx/FileContentIndex/6ddf5447-bc9c-45cc-b8d9-119028bef5a6.vsidx
.vs/mobile.slnx/FileContentIndex/9f610939-a770-4916-94dd-381e02cea887.vsidx
.vs/mobile.slnx/FileContentIndex/9fd6dd2e-1038-442a-8c8c-081a865f3704.vsidx
.vs/mobile.slnx/FileContentIndex/15cf7b90-9fda-4078-8616-974143296143.vsidx
.vs/slnx.sqlite
.vs/mobile.slnx/FileContentIndex/d9ac0ca1-eef6-4f3e-996e-adfe4071e2b6.vsidx
.vs/mobile.slnx/FileContentIndex/fa741602-9407-4b3d-a29f-9f1c34582512.vsidx
